<li class="list-group-item">
    <h5 class="card-title"><%= link_to_article result %></h5>
    <div class="row">
        <div class="col">
            Автор: <%= article_author_link result %>
        </div>
        <div class="col" style="text-align: center">
            <div style="text-align: end"><%= create_show result %></div>
        </div>
    </div>
</li>