<h3 class="mb-3" style="text-align: center">Лента</h3>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-xs-4 col-lg-8">
            <% @articles.each do |art| %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5><%= link_to art.title, article_path(art.id), class: "link-dark", style: "text-decoration: none" %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Автор: <%= art.username %></h6>
                    <p class="card-text"><%= simple_format(truncate(art.text, length: 800, separator: ' ', omission: ' ... ') {link_to "Читать дальше", article_path(art.id)}) %></p>
                    <div class="row">
                        <div class="col">
                            <div style="text-align: end"><%= art.created_at.strftime("%d.%m.%Y в %H:%M") %></div>
                        </div>
                    </div>  
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>