<h3 class="mb-3" style="text-align: center">Новая статья</h3>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-xs-4 col-lg-8">
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <%= form_for :article, url: articles_path do |f| %>
                    <label for="exampleFormControlInput1" class="form-label">Заголовок</label>
                    <h6 class="card-subtitle mb-2 text-muted"><%= f.text_field :title, class: "form-control" %></h6>
                    <label for="exampleFormControlInput1" class="form-label">Текст статьи</label>
                    <p class="card-text"><%= f.text_area :text, class: "form-control", rows: "16" %></p>
                        <%= f.button "Опубликовать", type: "submit", class: "btn btn-outline-success btn-sm" %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
