<div class="container-sm home-text">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <p class="home-text">Это Блог</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <p class="home-logo">RailsBlog</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <p class="home-text" style="text-align: right;">и он</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <p class="home-text" style="text-align: left;">работает на Rails</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <p class="home-text" style="text-align: center;">Добро пожаловать!</p>
        </div>
    </div>
</div>