<div class="container-sm home-text">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <p>Это Блог</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p class="home-logo">RailsBlog</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <p style="text-align: right;">и он</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <p style="text-align: left;">работает на Rails</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <p style="text-align: center;">Добро пожаловать!</p>
        </div>
    </div>
</div>