.background-blur{
    background: rgba(29, 29, 31, 0.8);
    backdrop-filter: blur(1px) saturate(2) brightness(0.8);
}

.dropdown-navbar-blur{
    background: rgba(29, 29, 31, 0.95);
}

.avatar-profile-style{
    border: 2px solid transparent;
    border-radius: 50%;
    background:linear-gradient(120deg, rgb(255, 161, 168), rgb(234, 252, 255), rgb(119, 222, 251), rgb(255, 161, 168)) border-box;
    box-shadow: 6px 6px 15px gray;
}

.avatar-navbar-style{
    border-radius: 50%;
    box-shadow: 3px 3px 8px rgb(25, 25, 25);
}

.profile-button{
    background: transparent;
    border: none;
    outline: none;
}

.like-button{
    padding: none;
    background: transparent;
    border: none;
}

.like-form{
    width: 25px;
}

.delete-link{
  background: transparent;
  border: none;
  color: #dc3545;
}

.article-down-font{
    font-size: 25px;
    line-height: 26px;
}

.articles-avatar{
    border-radius: 50%;
    border-width: 10px;
    border-color: black;
    box-shadow: 1px 1px 8px rgba(25, 25, 25, 0.8);
}

.background-gr{
    background-color: white;
    background-image: linear-gradient(90deg, rgba(190, 218, 238, 0.5) 0%, rgba(234, 243, 248, 0.3));
}

.home-logo {
    font-size: 72px;
    background-image: linear-gradient(45deg, rgb(255, 182, 193), rgb(135, 206, 250));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-text {
    font-size: 34px;
    background-image: linear-gradient(45deg, rgb(255, 182, 193), rgb(135, 206, 250));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}
  
#scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(78, 78, 78);
}
  
#scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

.field_with_errors > *,
.field_with_errors > *:after,
.field_with_errors > *:before {
    border-color: rgb(253, 127, 127);
    border-width: 2px;
}

.digg_pagination {
    background: transparent;
    cursor: default;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 85%;
    /* buttons */ }
    .digg_pagination a, .digg_pagination span, .digg_pagination em {
      border-color: transparent;
      margin-right: 5px; }
      /* disabled button */
    .digg_pagination .disabled {
      color: #adb5bd;
      padding: 0.3em 0.7em;
      font-style: normal;
      border: transparent; }
      /* select button */
    .digg_pagination .current {
      padding: 0.3em 0.7em;
      border-radius: 4px;
      font-style: normal;
      font-weight: bold;
      background: #0d6efd;
      color: white;
      border: 0px; }
      /* active button */
    .digg_pagination a {
      text-decoration: none;
      padding: 0.3em 0.7em;
      color: #0d6efd;
      border: transparent; }
      /* focus */
      .digg_pagination a:hover, .digg_pagination a:focus {
        color: #0d6efd;
        padding: 0.3em 0.7em;
        border-radius: 4px;
        background: #eceef1; }
    .digg_pagination .page_info {
      background: transparent;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center; }
      .digg_pagination .page_info b {
        color: #000033;
        background: #6aa6ed;
        padding: 0.1em 0.25em; }
    .digg_pagination:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .digg_pagination {
      height: 1%; }
    *:first-child + html .digg_pagination {
      overflow: hidden; 
  }

.comment{
    margin-left: 50%;
}

.navbar-search-button{
    margin-top: 10%;
}

.search-field{
    background-color: rgba(250, 250, 250, 0.5);
}

.article-preview{
    overflow: hidden;
    max-height: 50em;
}

.article-gradient{
	position: relative;
}
.article-gradient::after{
	content: "";
	display: block;    
	width: 100%;
	height: 50px;
    position: absolute;
	bottom: 0; 
	background: transparent;
	background-image: linear-gradient(to top, white, transparent);
}