.background-blur{
    background: rgba(29, 29, 31, 0.8);
    backdrop-filter: blur(1px) saturate(2) brightness(0.8);
}

.dropdown-navbar-blur{
    background: rgba(29, 29, 31, 0.95);
}

.avatar-profile-style{
    border: 2px solid transparent;
    border-radius: 50%;
    background:linear-gradient(120deg, rgb(255, 161, 168), rgb(234, 252, 255), rgb(119, 222, 251), rgb(255, 161, 168)) border-box;
    box-shadow: 6px 6px 15px gray;
}

.avatar-navbar-style{
    border-radius: 50%;
    box-shadow: 3px 3px 8px rgb(25, 25, 25);
}

.profile-button{
    background: transparent;
    border: none;
}

.articles-avatar{
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(25, 25, 25, 0.8);
}

.background-gr{
    background-color: white;
    background-image: linear-gradient(90deg, rgba(190, 218, 238, 0.5) 0%, rgba(234, 243, 248, 0.3));
}

.home-logo {
    font-size: 82px;
    background-image: linear-gradient(45deg, rgb(255, 182, 193), rgb(135, 206, 250));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-text {
    font-size: 42px;
    background-image: linear-gradient(45deg, rgb(255, 182, 193), rgb(135, 206, 250));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}
  
#scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(78, 78, 78);
}
  
#scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

.field_with_errors > *,
.field_with_errors > *:after,
.field_with_errors > *:before {
    border-color: rgb(253, 127, 127);
    border-width: 2px;
}
