.background-blur{
    background: rgba(29, 29, 31, 0.8);
    backdrop-filter: blur(1px) saturate(2) brightness(0.8);
}

.dropdown-navbar-blur{
    background: rgba(29, 29, 31, 0.95);
}

.avatar-profile-style{
    border: 1px solid transparent;
    border-radius: 50%;
    background:linear-gradient(45deg,red, yellow, lime, aqua, blue, magenta, red) border-box;
    box-shadow: 6px 6px 15px gray;
}

.avatar-navbar-style{
    border-radius: 50%;
    box-shadow: 3px 3px 8px rgb(25, 25, 25);
}

.profile-button{
    background: transparent;
    border: none;
}